<li>
<h2><%= tag.name %></h2>
  <span class="name"><%= tag.description %></span>
  <span class="timestamp name">
    Created <%= time_ago_in_words(tag.created_at) %> ago.
  </span>
  <%= image_tag tag.image %>
</li>



